body {
	background: white;
}
.body{
	margin: 0;
	height: 100%;
	padding: 50px;
	display: inline-block;

}
.image-frame{
	border: 2px solid white;
}
.nav{
	background: lightgrey;
	border-right: solid 2px grey;
	height:100vh;
	max-width:450px;
}
div{
		display: inline-block;
		padding-bottom: 10px;
}
.hor-fill{
	width:100%
}
.home:hover{
	opacity:0.6;
}